.userInfo {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.icons {
    display: flex;
    gap: 20px;

    img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    
}
.username {
    font-size: 16px;
}
.logout {
    width: 25%;
    max-width: 25%;
    padding: 15px;
    border: none;
    background-color: #8775D8;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}