.addUser {
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: rgba(17, 25, 40, 0.845);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;

    form {
        display: flex;
        gap: 20px;

        input {
            padding: 20px;
            border: none;
            color: black;
            border-radius: 5px;
            font-size: 16px;
            outline: none;
        }

        button {
            padding: 20px;
            border-radius: 10px;
            border: none;
            background-color: #5183fe;
            color: white;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .user {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
            display: flex;
            align-items: center;
            gap: 20px;
            overflow: hidden;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        button {
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: #5183fe;
            color: white;
            font-weight: 500;
            cursor: pointer;
        }
    }
}